<?xml version="1.0"?>
<!--

  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="tiago_pro_head_base">
        <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://tiago_pro_head_description/meshes/base_link.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh
            filename="package://tiago_pro_head_description/meshes/base_link.STL" />
        </geometry>
        </collision>
        </link>
        <link name="head_base_link">
        <inertial>
                <origin xyz="-0.0150128546995258 -0.0566367916625205 0.0303423008774917" rpy="0 0 0" />
                <mass value="0.000257615702682425" />
            <inertia ixx="7.0788859162592E-10" ixy="-5.48575905132547E-26" ixz="-1.72645327687595E-26"
                iyy="6.98150581217574E-10" iyz="-8.39255443475611E-27"
                izz="6.98150581217574E-10" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://tiago_pro_head_description/meshes/head_base_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.647058823529412 0.517647058823529 0 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://tiago_pro_head_description/meshes/head_base_link.STL" />
            </geometry>
        </collision>
        </link>
        <joint name="head_base_joint" type="fixed">
            <origin xyz="0 0 0.13584" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="head_base_link" />
            <axis xyz="0 0 0" />
            <limit lower="0" upper="0" effort="0" velocity="0" />
        </joint>

    </xacro:macro>
</robot>
